<h2>Welcome! <a href="https://github.com/garcia-danny"> <img src="https://visitor-badge.laobi.icu/badge?page_id=garcia-danny" alt="Visitors"></a></h2>


Hi! I'm {{name}}, I'm a student, Self-Taught Web Developer, and a CyberSecurity Enthusiast. 
I am located in Los Angeles, California, studying in Cpmputer Science and Cybersecurity.

It is currently {{temperature}}°F here, with {{weather}}!
Fun Fact: The weather above gets refreshed hourly, I was last refreshed on {{date}}! 

<h2> Browsers I use </h2>
![Brave](https://img.shields.io/badge/Brave-FB542B?style=for-the-badge&logo=Brave&logoColor=white) ![Google Chrome](https://img.shields.io/badge/Google%20Chrome-4285F4?style=for-the-badge&logo=GoogleChrome&logoColor=white) ![Safari](https://img.shields.io/badge/Safari-000000?style=for-the-badge&logo=Safari&logoColor=white)


Welcome! I am {{name}}, reporting that the current weather is {{weather}} and the temperature is {{temperature}}°F.
Last refresh at {{date}}.
